### Lineup Optimisation with Genetic Algorithms

In [1]:
import os
import glob
import random
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook as tqdm
from sklearn.metrics import mean_squared_error

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Concatenate all csv files under a directory
def csv_concatenate(folder_path):
    files = glob.glob(folder_path + "/*.csv")
    df_list = []
    for file in tqdm(files):
        df_list.append(pd.read_csv(file, parse_dates=True, infer_datetime_format=True))
    #Fill nan with 0s as some values are empty for percentage points
    df = pd.concat(df_list).fillna(0).reset_index(drop=True)
    return df

In [4]:
def calculate_MAE(pred, true):
    n = len(pred)
    abs_error = 0 
    for i in range(n):
        abs_error += abs(pred[i] - true[i])
    mae = abs_error/n
    return mae

In [5]:
def calculate_RMSE(pred, true):
    return np.sqrt(mean_squared_error(pred, true))

In [6]:
def calculate_FPTS(df):
    #Scoring rules based on https://www.draftkings.co.uk/help/rules/4
    multipliers = {'PTS':1, '3P': 0.5, 'TRB':1.25, 'AST':1.5, 'STL':2, 'BLK':2, 'TOV':-0.5}
    
    indices = len(df)
    fpts_list = []
    
    for i in tqdm(range(indices)):
        fpts = 0
        doubles = 0
        for stat, multiplier in multipliers.items():
            if stat in ['PTS', 'TRB', 'AST', 'STL', 'BLK']:
                if df.loc[i, stat] >= 10:
                    doubles += 1
            fpts += df.loc[i, stat]*multiplier
        if doubles >= 2:
            fpts += 1.5
        if doubles >= 3:
            fpts += 3
        fpts_list.append(fpts) 
        
    return fpts_list

In [7]:
def add_positions(df):
    
    pos = {'PG':[], 'SG':[], 'SF':[], 'PF':[], 'C':[], 'G':[], 'F':[]}
    
    for i in range(df.shape[0]):
        for key in pos.keys():
            if key in df.loc[i, 'Pos']:
                pos[key].append(1)
            else:
                pos[key].append(0)
    
    for key in pos.keys():
        df[key] = pos[key]

### Genetic Algorithms

In [11]:
#return a list of lineups with indices in df_target
def create_random_lineups(df, num_lineups):
    lineups = {'PG':[], 'SG':[], 'SF':[], 'PF':[], 'C':[], 'G':[], 'F':[], 'Util':[]}
    n = df.shape[0]
    
    for i in range(num_lineups):
        for key in list(lineups.keys())[:7]:
            lineups[key].append(df[df[key]==1].sample(1).index[0])
        
        lineups['Util'].append(df.sample(1).index[0])
    
    df_lineups = pd.DataFrame(lineups).loc[:,['PG', 'SG', 'SF', 'PF', 'C', 'G', 'F', 'Util']]
    
    return df_lineups

In [12]:
def calculate_fitness(df_lineups):
    fitness = []
    
    for i in range(df_lineups.shape[0]):
        
        salary = df_target.loc[df_lineups.loc[i,:].values, 'Salary'].sum()
        total_FPTS = df_target.loc[df_lineups.loc[i,:].values, 'Pred'].sum()
        
        #Check for duplicates
        if len(set(df_lineups.loc[i,:].values)) < 8:
            fitness.append(0)
        
        #Check for Salary Caps
        elif salary >= salary_cap:
            fitness.append(0)
            
        #Calculate the cumulative predicted FPTS
        else:
            fitness.append(total_FPTS)
        
    return fitness

In [13]:
def breed(df_lineups):
    
    df_parents = df_lineups
    positions = list(df_lineups.columns)[:-1]
    df_children = pd.DataFrame([], columns=positions)
    
    df_fit = df_lineups.sort_values(by='Fitness', ascending=False).reset_index(drop=True)
    parents = df_fit.head(2)

    #Prevent breeding betwee two same lineups
    if all(parents.loc[0,:] != parents.loc[1,:]):
        next_index = 2

        while all(parents.loc[0,:] == parents.loc[1,:]):
            rows = [0, next_index]
            parents = df_fit.loc[rows]
            parents = parents.reset_index(drop=True)
            next_index += 1
            
    parents = parents.loc[:, positions]

    for pos in positions:
        #Add parents and swap each items position by position, creating 16 lineups
        df_children = df_children.append(parents, ignore_index=True)
        df_children.loc[df_children.shape[0]-2, pos] = parents.loc[1, pos]
        df_children.loc[df_children.shape[0]-1, pos] = parents.loc[0, pos]
    
    #Add parents for a total of 18 lineups
    df_children = df_children.append(parents).reset_index(drop=True)
    return df_children

In [14]:
def mutate(df_lineups, df_original, num_mutations):
    positions = list(df_lineups.columns)[:-1]
    df_mutants = pd.DataFrame([], columns=positions)
    df_parent = df_lineups.sort_values(by='Fitness', ascending=False).head(1).loc[:,positions]
    
    #Append the original
    df_mutants = df_mutants.append(df_parent)
    
    #Append the original and then mutate it by replacing it with a random sample for a random position
    for i in range(num_mutations):
        pos_to_swap = random.choice(positions)
        mutant_index = df_original.sample(1).index[0]
        
        df_mutants = df_mutants.append(df_parent, ignore_index=True)
        current_index = df_mutants.shape[0]-1
        df_mutants.loc[current_index, pos_to_swap] = df_original.loc[mutant_index, pos_to_swap]
        
    return df_mutants

In [15]:
def evolution(df_random_lineups, num_mutations, num_generations):
    
    df_init = df_random_lineups

    for i in range(num_generations):
    
        df_children = breed(df_init)
        df_children['Fitness'] = calculate_fitness(df_children)
        
        df_mutants = mutate(df_children, df_random_lineups, num_mutations)
        df_mutants['Fitness'] = calculate_fitness(df_mutants)
        
        df_init = df_mutants
    
    df_init['Fitness'] = calculate_fitness(df_init.drop('Fitness', axis=1))
    df_final = df_init.sort_values(by='Fitness', ascending=False).reset_index(drop=True)
    
    return df_final

In [16]:
def compounding_evolution(population_size=200, num_mutations=50, num_generations=20, num_compounding=5):

    optimal_lineups = []
    
    for i in tqdm(range(num_compounding)):
        df_random_lineups = create_random_lineups(df_target, population_size)
        df_random_lineups['Fitness'] = calculate_fitness(df_random_lineups)
        
        optimal = evolution(df_random_lineups, num_mutations, num_generations)
        
        optimal_lineups.append(list(optimal.loc[0,:].values[:-1].astype(int)))
        
    return optimal_lineups

In [18]:
cwd = os.getcwd().replace('/notebooks','')
data_dir = os.path.join(cwd, 'data')
np.random.seed(8)
salary_cap = 50000

df_pred = pd.read_csv(os.path.join(data_dir, 'Predictions', '20180525.csv'))

add_positions(df_pred)

In [19]:
df_cashline = pd.read_csv(os.path.join(data_dir, 'Contests', 'cashline.csv'))
df_cashline.head(5)

       Date  Cashline  Fee  Entries
0  20180301    255.75   50      136
1  20180302    284.75  100       77
2  20180303    286.25    5     3448
3  20180304    248.50   25      919
4  20180305    254.75    5     1149

In [21]:
date = []
pred = []
actual = []
cashline = []
win = []
earnings = []


df_cashline = pd.read_csv(os.path.join(data_dir, 'Contests', 'cashline.csv'))
df_cashline.head(5)

for i in tqdm(range(df_cashline.shape[0])):
    df_target = df_pred.loc[(df_pred['Salary']!=0)&(df_pred['Date']==df_cashline.loc[i, 'Date'])].reset_index(drop=True)
    
    optimal_lineups = compounding_evolution(population_size=200, num_mutations=50,
                                            num_generations=100, num_compounding=5)
    
    top_lineups = {'Lineup':[], 'Pred':[], 'Actual':[]}

    for j, indices in enumerate(optimal_lineups):
        top_lineups['Lineup'].append(j)
        top_lineups['Pred'].append(df_target.loc[indices, 'Pred'].sum())
        top_lineups['Actual'].append(df_target.loc[indices, 'FPTS'].sum())


    df_lineups = pd.DataFrame(top_lineups).sort_values(by='Pred', ascending=False).reset_index(drop=True)
    df_lineups = df_lineups.loc[:, ['Lineup', 'Pred', 'Actual']]

    rows = optimal_lineups[df_lineups.loc[0, 'Lineup']]
    df_best = df_target.loc[rows,:]
    display(df_best.loc[:,['Date', 'Name', 'Team', 'Pos', 'FPTS', 'Pred', 'Salary']])
    print('Salary:', df_target.loc[rows,'Salary'].sum())
    print('Predicted:', df_target.loc[rows,'Pred'].sum())
    print('Actual:', df_target.loc[rows,'FPTS'].sum())
    print('Cashline:', df_cashline.loc[i, 'Cashline'])
    
    pred.append(df_target.loc[rows,'Pred'].sum())
    actual.append(df_target.loc[rows,'FPTS'].sum())
    cashline.append(df_cashline.loc[i, 'Cashline'])
    
    if df_target.loc[rows, 'FPTS'].sum() >= df_cashline.loc[i, 'Cashline']:
        print('Win:', df_cashline.loc[i, 'Fee'])
        win.append(1)
        earnings.append(df_cashline.loc[i, 'Fee'])
    else:
        print('Lose:', df_cashline.loc[i, 'Fee'])
        win.append(0)
        earnings.append(-df_cashline.loc[i, 'Fee'])

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date                      Name Team    Pos   FPTS       Pred   Salary
14  20180301               George Hill  CLE  PG/SG  16.75  26.510393   4800.0
27  20180301  Kentavious Caldwell-Pope  LAL     SG  24.50  29.972765   6200.0
16  20180301              LeBron James  CLE  SF/PF  54.75  57.830902  11900.0
4   20180301           DeMarre Carroll  BRK  SF/PF  44.50  29.701536   5900.0
9   20180301             Jarrett Allen  BRK   PF/C  35.75  27.110792   4900.0
82  20180301         Bogdan Bogdanovic  SAC  SG/SF  40.00  29.450680   5800.0
44  20180301              Kelly Olynyk  MIA   PF/C   6.75  26.024588   4800.0
81  20180301              De'Aaron Fox  SAC     PG  33.00  29.774086   5600.0

Salary: 49900.0
Predicted: 256.375742
Actual: 256.0
Cashline: 255.75
Win: 50

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                   Name Team    Pos   FPTS       Pred   Salary
176  20180302          Elfrid Payton  PHO     PG  51.50  39.199375   6800.0
87   20180302         Milos Teodosic  LAC  PG/SG  20.00  23.358912   4500.0
90   20180302          Tobias Harris  LAC  SF/PF  34.00  36.674960   7500.0
184  20180302          Dragan Bender  PHO   PF/C  15.00  20.630003   4000.0
172  20180302            Joel Embiid  PHI      C  53.75  45.762600   9400.0
102  20180302          Dillon Brooks  MEM  SG/SF  22.50  24.075357   4300.0
112  20180302  Giannis Antetokounmpo  MIL  SF/PF  51.50  51.241425  10100.0
75   20180302           JaVale McGee  GSW      C  10.75  20.014210   3300.0

Salary: 49900.0
Predicted: 260.956842
Actual: 259.0
Cashline: 284.75
Lose: 100

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date           Name Team    Pos   FPTS       Pred   Salary
13   20180303    George Hill  CLE  PG/SG  28.50  26.942215   4900.0
111  20180303  Evan Fournier  ORL  SG/SF  29.25  30.655277   5900.0
17   20180303     J.R. Smith  CLE  SG/SF  29.00  20.045536   3900.0
86   20180303  James Johnson  MIA  SF/PF  26.50  22.952600   4500.0
67   20180303  Julius Randle  LAL   PF/C  40.50  37.904507   7300.0
154  20180303    Ricky Rubio  UTA     PG  35.50  31.159990   6400.0
151  20180303      Pau Gasol  SAS   PF/C  50.00  30.671932   5500.0
16   20180303   LeBron James  CLE  SF/PF  67.50  58.676500  11500.0

Salary: 49900.0
Predicted: 259.008557
Actual: 306.75
Cashline: 286.25
Win: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred   Salary
117  20180304      De'Aaron Fox  SAC     PG  18.25  30.660639   5700.0
67   20180304   Khris Middleton  MIL  SG/SF  24.25  35.730793   6900.0
54   20180304     Tobias Harris  LAC  SF/PF  51.00  35.604233   7200.0
146  20180304   Markieff Morris  WAS  SF/PF  24.25  30.719273   5400.0
102  20180304       Joel Embiid  PHI      C  34.50  47.963177  10200.0
78   20180304     E'Twaun Moore  NOP  SG/SF  12.25  22.017878   4200.0
43   20180304  Bojan Bogdanovic  IND  SG/SF  29.50  29.430634   5400.0
125  20180304   Skal Labissiere  SAC   PF/C  32.50  25.793648   4800.0

Salary: 49800.0
Predicted: 257.920275
Actual: 226.5
Cashline: 248.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
45   20180305    Victor Oladipo  IND  PG/SG  27.25  43.642277  9100.0
23   20180305       George Hill  CLE  PG/SG  14.25  27.769053  5000.0
36   20180305    Reggie Bullock  DET  SG/SF  18.75  26.253391  4600.0
146  20180305         Pau Gasol  SAS   PF/C  23.25  32.637623  6500.0
157  20180305       Rudy Gobert  UTA      C  48.75  42.529840  8300.0
12   20180305         Kris Dunn  CHI  PG/SG  19.00  33.530273  6500.0
47   20180305  Bojan Bogdanovic  IND  SG/SF  45.00  29.959166  5600.0
68   20180305     Dillon Brooks  MEM  SG/SF  26.00  24.066393  4300.0

Salary: 49900.0
Predicted: 260.388016
Actual: 222.25
Cashline: 254.75
Lose: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
111  20180306    Frank Ntilikina  NYK  PG/SG  13.50  20.003180   3600.0
139  20180306        J.J. Redick  PHI  SG/SF  19.50  27.482397   5200.0
124  20180306       Jerami Grant  OKC  SF/PF  14.50  18.342040   3500.0
35   20180306    Harrison Barnes  DAL  SF/PF  28.25  33.943813   6100.0
153  20180306       Jusuf Nurkic  POR      C  25.00  33.980583   6400.0
120  20180306  Russell Westbrook  OKC     PG  47.00  58.240074  11200.0
38   20180306      Dirk Nowitzki  DAL   PF/C  27.50  29.673557   5400.0
122  20180306        Paul George  OKC  SF/PF  36.00  40.748330   8500.0

Salary: 49900.0
Predicted: 262.413974
Actual: 211.25
Cashline: 253.75
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred   Salary
88   20180307      Eric Bledsoe  MIL  PG/SG  25.75  38.808920   7500.0
111  20180307     D.J. Augustin  ORL  PG/SG  21.75  24.934837   5000.0
60   20180307  Bojan Bogdanovic  IND  SG/SF  23.00  30.540953   5600.0
15   20180307      LeBron James  CLE  SF/PF  68.50  56.044270  11400.0
155  20180307       Rudy Gobert  UTA      C  45.00  41.046780   8400.0
125  20180307    Justin Jackson  SAC  SG/SF  23.25  19.063292   3500.0
40   20180307    Reggie Bullock  DET  SG/SF  31.75  27.155527   4700.0
4    20180307    Justin Holiday  CHI  SG/SF  23.00  21.944963   3700.0

Salary: 49800.0
Predicted: 259.539542
Actual: 262.0
Cashline: 241.0
Win: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date               Name Team    Pos   FPTS       Pred   Salary
72  20180308  Russell Westbrook  OKC     PG  49.50  61.256557  11800.0
78  20180308       Josh Huestis  OKC  SG/SF  11.50  11.723831   3100.0
88  20180308        J.J. Redick  PHI  SG/SF  33.25  26.134289   4900.0
22  20180308      Jarrett Allen  BRK   PF/C  25.25  26.372936   4600.0
81  20180308       Steven Adams  OKC      C  44.00  31.030903   6900.0
61  20180308        Jeff Teague  MIN     PG  34.75  36.534184   7000.0
53  20180308    Josh Richardson  MIA  SG/SF  26.00  27.853910   5300.0
66  20180308     Andrew Wiggins  MIN  SG/SF  30.25  32.058890   6300.0

Salary: 49900.0
Predicted: 252.96550000000002
Actual: 254.5
Cashline: 226.25
Win: 100

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
143  20180309   Emmanuel Mudiay  NYK     PG  28.50  26.107346  4800.0
189  20180309     DeMar DeRozan  TOR  SG/SF  34.75  37.554270  7600.0
37   20180309       Will Barton  DEN  SG/SF  29.75  34.086403  6900.0
112  20180309    JaMychal Green  MEM  SF/PF  12.75  34.315655  6400.0
18   20180309       Robin Lopez  CHI      C  12.00  20.136902  3400.0
200  20180309  Donovan Mitchell  UTA  PG/SG  32.25  35.412510  7000.0
110  20180309     Dillon Brooks  MEM  SG/SF  22.25  27.100613  4700.0
60   20180309      Kevin Durant  GSW  SF/PF  61.00  43.751930  8900.0

Salary: 49700.0
Predicted: 258.46562900000004
Actual: 233.25
Cashline: 258.25
Lose: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date               Name Team    Pos   FPTS       Pred   Salary
42  20180310  Russell Westbrook  OKC     PG  55.00  60.087288  11500.0
67  20180310        Patty Mills  SAS  PG/SG  17.00  22.376589   4300.0
33  20180310      James Johnson  MIA  SF/PF  32.50  21.033497   4200.0
85  20180310    Markieff Morris  WAS  SF/PF  14.50  29.494097   5600.0
26  20180310      Jarell Martin  MEM   PF/C  22.75  25.530857   4800.0
24  20180310      Dillon Brooks  MEM  SG/SF  27.00  27.229500   4900.0
2   20180310    Harrison Barnes  DAL  SF/PF  37.25  33.249775   6700.0
44  20180310        Paul George  OKC  SF/PF  34.25  38.533424   7700.0

Salary: 49700.0
Predicted: 257.535027
Actual: 240.25
Cashline: 222.5
Win: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred   Salary
165  20180311       Ricky Rubio  UTA     PG  54.00  33.286720   6300.0
25   20180311      Allen Crabbe  BRK  SG/SF   9.75  28.099537   5200.0
103  20180311  Bojan Bogdanovic  IND  SG/SF  25.75  28.784359   5300.0
58   20180311   Harrison Barnes  DAL  SF/PF  25.75  33.461323   6100.0
29   20180311     Jarrett Allen  BRK      C  13.50  26.831963   4700.0
132  20180311       Rajon Rondo  NOP     PG  18.75  31.944370   6100.0
139  20180311     Anthony Davis  NOP   PF/C  73.25  52.381570  10800.0
117  20180311       Brook Lopez  LAL      C  44.50  30.170794   5400.0

Salary: 49900.0
Predicted: 264.960636
Actual: 265.25
Cashline: 249.75
Win: 100

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date               Name Team    Pos   FPTS       Pred   Salary
1   20180312         Chris Paul  HOU     PG  37.75  40.576775   7700.0
74  20180312  Bogdan Bogdanovic  SAC  SG/SF  34.50  26.658640   5700.0
15  20180312      Dillon Brooks  MEM  SG/SF  20.50  28.282390   4900.0
18  20180312      Jarell Martin  MEM   PF/C  30.50  28.764778   5100.0
68  20180312       Jusuf Nurkic  POR      C  57.50  30.439865   5600.0
46  20180312  Russell Westbrook  OKC     PG  50.50  58.112400  11600.0
80  20180312      Zach Randolph  SAC   PF/C  23.25  28.791775   5800.0
5   20180312        P.J. Tucker  HOU  SF/PF  20.25  19.346434   3500.0

Salary: 49900.0
Predicted: 260.97305700000004
Actual: 274.75
Cashline: 212.5
Win: 100

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred  Salary
1    20180313     Tyler Dorsey  ATL  PG/SG   9.25  24.002657  4100.0
193  20180313     Devin Booker  PHO  SG/SF  29.25  41.883580  8600.0
14   20180313  DeMarre Carroll  BRK  SF/PF  18.50  29.961294  5500.0
192  20180313      T.J. Warren  PHO  SF/PF  33.00  32.186913  6300.0
154  20180313      Enes Kanter  NYK      C  21.75  34.867455  6900.0
145  20180313  Emmanuel Mudiay  NYK     PG  15.75  28.160618  5000.0
117  20180313    Julius Randle  LAL   PF/C  44.75  41.743423  8000.0
240  20180313  Markieff Morris  WAS  SF/PF  36.50  29.421919  5300.0

Salary: 49700.0
Predicted: 262.22785899999997
Actual: 208.75
Cashline: 246.75
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date                   Name Team    Pos   FPTS       Pred   Salary
61  20180314           De'Aaron Fox  SAC     PG  26.50  28.469412   5300.0
21  20180314          Isaiah Thomas  LAL  PG/SG  34.25  33.498158   6300.0
78  20180314        Markieff Morris  WAS  SF/PF  34.25  28.323666   5400.0
26  20180314          Julius Randle  LAL   PF/C  38.00  42.113842   8100.0
9   20180314     Guerschon Yabusele  BOS   PF/C  16.75  15.987694   3000.0
53  20180314       Jonathon Simmons  ORL  SG/SF  46.50  30.314342   5900.0
42  20180314  Giannis Antetokounmpo  MIL  SF/PF  68.00  51.057945  10600.0
51  20180314          D.J. Augustin  ORL  PG/SG  47.25  26.117876   4800.0

Salary: 49400.0
Predicted: 255.88293500000003
Actual: 311.5
Cashline: 283.0
Win: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred  Salary
200  20180315        Ricky Rubio  UTA     PG  44.75  40.657650  7200.0
1    20180315       Tyler Dorsey  ATL  PG/SG  24.25  23.512900  4100.0
204  20180315         Joe Ingles  UTA  SG/SF  29.50  33.373466  6400.0
110  20180315      Jarell Martin  MEM   PF/C  24.50  28.453756  5100.0
197  20180315  Jonas Valanciunas  TOR      C  51.00  34.759068  6600.0
0    20180315    Dennis Schroder  ATL     PG  29.75  35.327774  6200.0
146  20180315        Dario Saric  PHI   PF/C  41.50  31.482980  6300.0
155  20180315       Devin Booker  PHO  SG/SF  19.75  38.804203  7500.0

Salary: 49400.0
Predicted: 266.371797
Actual: 265.0
Cashline: 256.75
Win: 10

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred  Salary
91   20180316      D.J. Augustin  ORL  PG/SG  26.75  28.323475  5200.0
114  20180316  Bogdan Bogdanovic  SAC  SG/SF  24.25  27.151240  5500.0
25   20180316    Harrison Barnes  DAL  SF/PF  39.25  30.657705  5900.0
82   20180316    Carmelo Anthony  OKC  SF/PF  17.50  30.173439  5900.0
108  20180316        Joel Embiid  PHI      C  61.25  48.760624  9500.0
11   20180316   D'Angelo Russell  BRK  PG/SG  27.75  33.492870  6500.0
92   20180316   Jonathon Simmons  ORL  SG/SF  23.00  31.747204  6100.0
132  20180316        Serge Ibaka  TOR   PF/C  28.25  29.333780  5300.0

Salary: 49900.0
Predicted: 259.640337
Actual: 248.0
Cashline: 251.0
Lose: 10

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred   Salary
230  20180317       Ricky Rubio  UTA     PG  37.75  39.427563   7300.0
9    20180317  D'Angelo Russell  BRK  PG/SG  36.50  34.573650   7000.0
173  20180317   Michael Beasley  NYK  SF/PF  18.00  33.428040   6200.0
246  20180317   Markieff Morris  WAS  SF/PF  22.25  31.032492   5800.0
166  20180317      Emeka Okafor  NOP      C   4.50  19.347418   3700.0
124  20180317     Dillon Brooks  MEM  SG/SF  35.25  27.246315   4800.0
117  20180317      Al Jefferson  IND   PF/C  28.25  22.553967   3900.0
98   20180317      James Harden  HOU  PG/SG  64.25  50.493110  11200.0

Salary: 49900.0
Predicted: 258.102555
Actual: 246.75
Cashline: 312.75
Lose: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date            Name Team    Pos   FPTS       Pred   Salary
12  20180318    James Harden  HOU  PG/SG  63.50  49.819527  11000.0
49  20180318    Jrue Holiday  NOP  PG/SG  18.25  39.007923   7900.0
40  20180318  Andrew Wiggins  MIN  SG/SF  29.00  33.034250   6100.0
16  20180318     P.J. Tucker  HOU  SF/PF  21.00  17.860575   3400.0
10  20180318     Aron Baynes  BOS      C  11.50  20.630165   3600.0
91  20180318   Norman Powell  TOR  SG/SF   8.50  11.611691   1000.0
55  20180318   Anthony Davis  NOP   PF/C  57.25  52.151580  11400.0
47  20180318     Rajon Rondo  NOP     PG  25.75  29.458960   5500.0

Salary: 49900.0
Predicted: 253.57467099999997
Actual: 234.75
Cashline: 265.5
Lose: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                     Name Team    Pos   FPTS       Pred  Salary
0    20180319         D'Angelo Russell  BRK  PG/SG  37.75  35.837986  6900.0
165  20180319              Buddy Hield  SAC  SG/SF  37.00  31.425293  5900.0
29   20180319          Marvin Williams  CHO  SF/PF  11.25  23.180313  4100.0
4    20180319  Rondae Hollis-Jefferson  BRK  SF/PF  41.00  34.090640  6400.0
159  20180319              Joel Embiid  PHI      C  58.00  48.481785  9500.0
62   20180319          Stanley Johnson  DET  SG/SF  24.00  19.871754  3900.0
5    20180319          DeMarre Carroll  BRK  SF/PF  33.50  29.035875  5500.0
127  20180319             Eric Bledsoe  MIL  PG/SG  34.75  36.609050  7600.0

Salary: 49800.0
Predicted: 258.532696
Actual: 277.25
Cashline: 286.75
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred   Salary
150  20180320     Ricky Rubio  UTA     PG  36.75  39.326450   7000.0
92   20180320    Corey Brewer  OKC  SG/SF  28.25  22.613949   4200.0
82   20180320   E'Twaun Moore  NOP  SG/SF  25.25  23.802315   4500.0
145  20180320  Malcolm Miller  TOR     PF  -0.50  15.866625   1000.0
86   20180320   Anthony Davis  NOP   PF/C  54.50  53.564200  11500.0
123  20180320  Damian Lillard  POR     PG  35.50  42.725720   9300.0
116  20180320    Josh Jackson  PHO  SG/SF  33.75  32.655872   6300.0
152  20180320      Joe Ingles  UTA  SG/SF  37.50  34.302910   6100.0

Salary: 49900.0
Predicted: 264.85804099999996
Actual: 251.0
Cashline: 271.25
Lose: 10

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred  Salary
84   20180321    Andrew Harrison  MEM  PG/SG   4.75  29.548176  5100.0
96   20180321    Josh Richardson  MIA  SG/SF  32.25  26.688707  5300.0
7    20180321    DeMarre Carroll  BRK  SF/PF  20.00  31.459278  5900.0
157  20180321      Kyle Anderson  SAS  SF/PF  28.00  25.431080  4600.0
102  20180321      James Johnson  MIA   PF/C  22.25  32.932213  6200.0
152  20180321    Dejounte Murray  SAS     PG  27.00  30.338333  6000.0
162  20180321  LaMarcus Aldridge  SAS   PF/C  50.25  46.133090  8800.0
109  20180321    Khris Middleton  MIL  SG/SF  45.50  40.054443  7700.0

Salary: 49600.0
Predicted: 262.58532
Actual: 230.0
Cashline: 267.0
Lose: 100

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
90   20180322     D.J. Augustin  ORL  PG/SG  14.50  27.886173  5000.0
124  20180322        Joe Ingles  UTA  SG/SF  42.50  34.899910  6400.0
21   20180322   Harrison Barnes  DAL  SF/PF  33.00  32.912533  6100.0
93   20180322     Mario Hezonja  ORL  SF/PF  14.75  25.015228  4700.0
38   20180322     Blake Griffin  DET   PF/C  55.50  40.001915  8600.0
121  20180322  Donovan Mitchell  UTA  PG/SG  44.25  36.529270  7500.0
82   20180322     E'Twaun Moore  NOP  SG/SF  18.75  23.622448  4300.0
91   20180322      Aaron Gordon  ORL  SF/PF  33.75  37.030310  7300.0

Salary: 49900.0
Predicted: 257.897787
Actual: 257.0
Cashline: 229.0
Win: 100

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred  Salary
0    20180323    Dennis Schroder  ATL     PG  30.25  33.689007  6800.0
217  20180323         Joe Ingles  UTA  SG/SF  25.50  31.574818  6000.0
14   20180323       Jayson Tatum  BOS  SF/PF  29.00  32.049490  6200.0
41   20180323  Cristiano Felicio  CHI   PF/C  30.25  23.138033  4200.0
184  20180323       Jusuf Nurkic  POR      C  23.25  36.854250  6700.0
201  20180323         Kyle Lowry  TOR     PG  62.00  42.897552  8100.0
53   20180323         Jeff Green  CLE  SF/PF   7.00  29.528175  5100.0
215  20180323        Ricky Rubio  UTA     PG  43.25  35.396255  6700.0

Salary: 49800.0
Predicted: 265.12757999999997
Actual: 250.5
Cashline: 243.25
Win: 100

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred   Salary
65   20180324   Andrew Harrison  MEM  PG/SG  40.00  26.349787   4700.0
39   20180324   Stanley Johnson  DET  SG/SF   2.75  22.318870   4000.0
3    20180324  Denzel Valentine  CHI  SG/SF  29.25  29.645685   6100.0
130  20180324     Dragan Bender  PHO   PF/C  15.00  20.976423   3900.0
129  20180324   Marquese Chriss  PHO   PF/C  19.25  24.519230   3600.0
44   20180324      James Harden  HOU  PG/SG  47.50  53.382923  11700.0
41   20180324     Blake Griffin  DET   PF/C  27.50  46.652660   9500.0
24   20180324   Harrison Barnes  DAL  SF/PF  31.75  33.584034   6200.0

Salary: 49700.0
Predicted: 257.429612
Actual: 213.0
Cashline: 266.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
54   20180325      Austin Rivers  LAC  PG/SG  26.25  28.830223   5700.0
77   20180325       Eric Bledsoe  MIL  PG/SG  35.25  38.277676   7700.0
48   20180325   Bojan Bogdanovic  IND  SG/SF  28.50  25.319214   4600.0
25   20180325       Kevon Looney  GSW  SF/PF  22.75  24.457884   4300.0
134  20180325    Skal Labissiere  SAC   PF/C  27.25  29.425133   5200.0
100  20180325  Russell Westbrook  OKC     PG  53.50  61.294586  11300.0
173  20180325     Derrick Favors  UTA   PF/C  23.50  29.424822   5500.0
21   20180325         Quinn Cook  GSW     PG  38.00  31.690357   5600.0

Salary: 49900.0
Predicted: 268.719895
Actual: 255.0
Cashline: 245.75
Win: 100

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                Name Team    Pos   FPTS       Pred  Salary
72   20180326         Jeff Teague  MIN     PG  41.50  32.814470  6600.0
105  20180326        Troy Daniels  PHO     SG  28.00  22.934965  4000.0
20   20180326        Dwayne Bacon  CHO  SG/SF  10.50  17.263270  3300.0
85   20180326     Michael Beasley  NYK  SF/PF  39.50  28.953583  5700.0
79   20180326  Karl-Anthony Towns  MIN      C  46.00  47.282150  9300.0
37   20180326      Reggie Jackson  DET     PG  31.25  24.598076  4400.0
56   20180326       Julius Randle  LAL   PF/C  39.25  38.839928  7900.0
35   20180326        Nikola Jokic  DEN      C  32.25  43.112160  8600.0

Salary: 49800.0
Predicted: 255.798602
Actual: 268.25
Cashline: 289.0
Lose: 10

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred  Salary
120  20180327          Ian Clark  NOP  PG/SG  10.50  23.076240  3700.0
51   20180327         Nick Young  GSW     SG  18.25  25.906666  4800.0
185  20180327        Otto Porter  WAS  SF/PF  30.00  32.477325  6500.0
187  20180327    Markieff Morris  WAS  SF/PF  20.00  30.336342  5600.0
163  20180327  LaMarcus Aldridge  SAS   PF/C  22.50  43.835712  9200.0
166  20180327         Kyle Lowry  TOR     PG  37.75  42.666363  8200.0
149  20180327    Skal Labissiere  SAC   PF/C  35.50  29.156368  5300.0
37   20180327       Jamal Murray  DEN  PG/SG  28.50  34.110424  6600.0

Salary: 49900.0
Predicted: 261.56543999999997
Actual: 203.0
Cashline: 251.5
Lose: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                     Name Team    Pos   FPTS       Pred   Salary
145  20180328               Tyler Ulis  PHO     PG  30.25  25.057478   4200.0
147  20180328             Josh Jackson  PHO  SG/SF  36.25  34.088104   7100.0
116  20180328          Michael Beasley  NYK  SF/PF  40.50  30.911820   5900.0
26   20180328  Rondae Hollis-Jefferson  BRK  SF/PF  34.75  32.918053   6700.0
177  20180328           Derrick Favors  UTA   PF/C  13.75  29.220297   5300.0
70   20180328           Tyrone Wallace  LAC  PG/SG  28.75  20.560825   3000.0
49   20180328             LeBron James  CLE  SF/PF  69.00  57.493420  11600.0
171  20180328               Joe Ingles  UTA  SG/SF  26.50  33.278427   6100.0

Salary: 49900.0
Predicted: 263.528424
Actual: 279.75
Cashline: 298.25
Lose: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
85   20180329       De'Aaron Fox  SAC     PG  19.00  27.176441   4800.0
16   20180329    Stanley Johnson  DET  SG/SF  25.75  20.296760   3600.0
29   20180329       Kevin Durant  GSW  SF/PF  21.25  51.756283  10800.0
107  20180329  LaMarcus Aldridge  SAS   PF/C  45.75  46.140205   9000.0
69   20180329        John Henson  MIL      C  22.75  25.187600   5000.0
12   20180329     Reggie Jackson  DET     PG  25.50  26.298560   4800.0
95   20180329    Skal Labissiere  SAC   PF/C   7.25  29.047941   5200.0
55   20180329      James Johnson  MIA   PF/C  18.00  33.859383   6700.0

Salary: 49900.0
Predicted: 259.763173
Actual: 185.25
Cashline: 267.0
Lose: 5

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred   Salary
164  20180330      Tyler Ulis  PHO     PG  44.00  26.546413   4700.0
188  20180330      Joe Ingles  UTA  SG/SF  41.25  33.174590   6100.0
80   20180330  Brandon Ingram  LAL  SG/SF  23.25  32.981483   5600.0
22   20180330    LeBron James  CLE  SF/PF  57.75  61.507526  11800.0
182  20180330    Jusuf Nurkic  POR      C  53.00  33.720900   6500.0
13   20180330     David Nwaba  CHI  SG/SF   6.75  25.321575   4500.0
79   20180330      Kyle Kuzma  LAL  SF/PF  56.00  37.805160   7200.0
64   20180330  Tyrone Wallace  LAC  PG/SG  21.75  22.154203   3400.0

Salary: 49800.0
Predicted: 273.21185
Actual: 303.75
Cashline: 255.0
Win: 25

In [22]:
print(sum(win)/len(win))
print(sum(earnings))

0.43333333333333335
315

In [ ]:
date = list(set(df_cashline['Date'].values))
df_result = pd.DataFrame({'Date': date,
                          'Predicted':pred,
                          'Actual': actual,
                          'Cashline': cashline,
                          'Win':win,
                          'Earnings': earnings
                         })

df_result.loc[:,['Date', 'Predicted', 'Actual', 'Cashline', 'Win', 'Earnings']]

### Baseline - random 10,000

In [ ]:
df_result.loc[:,['Date', 'Predicted', 'Actual', 'Cashline', 'Win', 'Earnings']]

In [ ]:
df_random_lineups = create_random_lineups(df_target, 200)
df_random_lineups['Fitness'] = calculate_fitness(df_random_lineups)
df_random_lineups.sort_values(by='Fitness', ascending=False).head(10)

### Visualisation

In [ ]:
df_baseline = csv_concatenate(os.path.join(data_dir, data_dir, 'Dataframes', 'modelling', 'baseline'))
df_baseline['Baseline'] = calculate_FPTS(df_baseline)

In [ ]:
#target_date = 20180310
target_date = 20180326

In [ ]:
df_target = df_pred.loc[(df_pred['Salary']!=0)&(df_pred['Date']==target_date)].reset_index(drop=True)
    
optimal_lineups = compounding_evolution(population_size=200, num_mutations=50,
                                        num_generations=100, num_compounding=5)

top_lineups = {'Lineup':[], 'Pred':[], 'Actual':[]}

for j, indices in enumerate(optimal_lineups):
    top_lineups['Lineup'].append(j)
    top_lineups['Pred'].append(df_target.loc[indices, 'Pred'].sum())
    top_lineups['Actual'].append(df_target.loc[indices, 'FPTS'].sum())


df_lineups = pd.DataFrame(top_lineups).sort_values(by='Pred', ascending=False).reset_index(drop=True)
df_lineups = df_lineups.loc[:, ['Lineup', 'Pred', 'Actual']]

rows = optimal_lineups[df_lineups.loc[0, 'Lineup']]
df_best = df_target.loc[rows,:]
display(df_best.loc[:,['Date', 'Name', 'Team', 'Pos', 'FPTS', 'Pred', 'Salary']])
print('Salary:', df_target.loc[rows,'Salary'].sum())
print('Predicted:', df_target.loc[rows,'Pred'].sum())
print('Actual:', df_target.loc[rows,'FPTS'].sum())
print('Cashline:', int(df_cashline.loc[df_cashline['Date']==target_date, 'Cashline'].values))

In [ ]:
print(calculate_MAE(df_best['FPTS'].values, df_best['Pred'].values))
print(calculate_RMSE(df_best['FPTS'], df_best['Pred']))

In [ ]:
df_best

In [ ]:
Baseline = []

for i in range(df_best.shape[0]):
    df_best = df_best.reset_index(drop=True)
    Baseline.append(df_baseline.loc[(df_baseline['Name']==df_best.loc[i, 'Name'])&(df_baseline['Date']==df_best.loc[i,'Date']), 'Baseline'])

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

names = [name.split(' ')[0][:1] + '. '+ name.split(' ')[1] for name in df_best['Name']]
positions = ['(PG)', '(SG)', '(SF)','(PF)','(C)','(G)','(F)','(Utility)']

names = [names[i]+'\n'+positions[i] for i in range(8)]

trace1 = go.Bar(
    x=names,
    y=df_best['FPTS'],
    name='Actual FPTS'
)

trace2 = go.Bar(
    x=names,
    y=df_best['Pred'],
    name='Prediction'
)

trace3 = go.Bar(
    x=names,
    y=Baseline,
    name='Baseline'
)


data = [trace1, trace2, trace3]
layout = go.Layout(
    
)

layout = go.Layout(
        title = 'FPTS: Actual and Predicted',
        barmode='group',
        legend = {"x":0.85, 'y':0.95, 'borderwidth': 1},
        yaxis = {"title":"FPTS"},
    )

config={'showLink': False}

fig = go.Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='prediction0326')
py.iplot(fig, filename='prediction0326')