### Lineup Optimisation with Genetic Algorithms

In [22]:
import os
import glob
import random
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook as tqdm

from constants import DATA_DIR
from utils import csv_concatenate, calculate_FPTS, calculate_MAE, calculate_RMSE, cross_val, load_full_dataset

In [23]:
import warnings
warnings.filterwarnings('ignore')

In [27]:
def add_positions(df):
    
    pos = {'PG':[], 'SG':[], 'SF':[], 'PF':[], 'C':[], 'G':[], 'F':[]}
    
    for i in range(df.shape[0]):
        for key in pos.keys():
            if key in df.loc[i, 'Pos']:
                pos[key].append(1)
            else:
                pos[key].append(0)
    
    for key in pos.keys():
        df[key] = pos[key]

### Genetic Algorithms

In [28]:
#return a list of lineups with indices in df_target
def create_random_lineups(df, num_lineups):
    lineups = {'PG':[], 'SG':[], 'SF':[], 'PF':[], 'C':[], 'G':[], 'F':[], 'Util':[]}
    n = df.shape[0]
    
    for i in range(num_lineups):
        for key in list(lineups.keys())[:7]:
            lineups[key].append(df[df[key]==1].sample(1).index[0])
        
        lineups['Util'].append(df.sample(1).index[0])
    
    df_lineups = pd.DataFrame(lineups).loc[:,['PG', 'SG', 'SF', 'PF', 'C', 'G', 'F', 'Util']]
    
    return df_lineups

In [29]:
def calculate_fitness(df_lineups):
    fitness = []
    
    for i in range(df_lineups.shape[0]):
        
        salary = df_target.loc[df_lineups.loc[i,:].values, 'Salary'].sum()
        total_FPTS = df_target.loc[df_lineups.loc[i,:].values, 'Pred'].sum()
        
        #Check for duplicates
        if len(set(df_lineups.loc[i,:].values)) < 8:
            fitness.append(0)
        
        #Check for Salary Caps
        elif salary >= salary_cap:
            fitness.append(0)
            
        #Calculate the cumulative predicted FPTS
        else:
            fitness.append(total_FPTS)
        
    return fitness

In [30]:
def breed(df_lineups):  
    df_parents = df_lineups
    positions = list(df_lineups.columns)[:-1]
    df_children = pd.DataFrame([], columns=positions)
    
    df_fit = df_lineups.sort_values(by='Fitness', ascending=False).reset_index(drop=True)
    parents = df_fit.head(2)

    #Prevent breeding betwee two same lineups
    if all(parents.loc[0,:] != parents.loc[1,:]):
        next_index = 2

        while all(parents.loc[0,:] == parents.loc[1,:]):
            rows = [0, next_index]
            parents = df_fit.loc[rows]
            parents = parents.reset_index(drop=True)
            next_index += 1
            
    parents = parents.loc[:, positions]

    for pos in positions:
        #Add parents and swap each items position by position, creating 16 lineups
        df_children = df_children.append(parents, ignore_index=True)
        df_children.loc[df_children.shape[0]-2, pos] = parents.loc[1, pos]
        df_children.loc[df_children.shape[0]-1, pos] = parents.loc[0, pos]
    
    #Add parents for a total of 18 lineups
    df_children = df_children.append(parents).reset_index(drop=True)
    return df_children

In [31]:
def mutate(df_lineups, df_original, num_mutations):
    positions = list(df_lineups.columns)[:-1]
    df_mutants = pd.DataFrame([], columns=positions)
    df_parent = df_lineups.sort_values(by='Fitness', ascending=False).head(1).loc[:,positions]
    
    #Append the original
    df_mutants = df_mutants.append(df_parent)
    
    #Append the original and then mutate it by replacing it with a random sample for a random position
    for i in range(num_mutations):
        pos_to_swap = random.choice(positions)
        mutant_index = df_original.sample(1).index[0]
        
        df_mutants = df_mutants.append(df_parent, ignore_index=True)
        current_index = df_mutants.shape[0]-1
        df_mutants.loc[current_index, pos_to_swap] = df_original.loc[mutant_index, pos_to_swap]
        
    return df_mutants

In [32]:
def evolution(df_random_lineups, num_mutations, num_generations):
    df_init = df_random_lineups

    for i in range(num_generations):
    
        df_children = breed(df_init)
        df_children['Fitness'] = calculate_fitness(df_children)
        
        df_mutants = mutate(df_children, df_random_lineups, num_mutations)
        df_mutants['Fitness'] = calculate_fitness(df_mutants)
        
        df_init = df_mutants
    
    df_init['Fitness'] = calculate_fitness(df_init.drop('Fitness', axis=1))
    df_final = df_init.sort_values(by='Fitness', ascending=False).reset_index(drop=True)
    
    return df_final

In [42]:
def compounding_evolution(population_size=200, num_mutations=100, num_generations=50, num_compounding=5):
    optimal_lineups = []
    
    for i in tqdm(range(num_compounding)):
        df_random_lineups = create_random_lineups(df_target, population_size)
        df_random_lineups['Fitness'] = calculate_fitness(df_random_lineups)
        
        optimal = evolution(df_random_lineups, num_mutations, num_generations)
        
        optimal_lineups.append(list(optimal.loc[0,:].values[:-1].astype(int)))
        
    return optimal_lineups

In [43]:
np.random.seed(23)
salary_cap = 50000

df_pred = pd.read_csv(os.path.join(DATA_DIR, 'Predictions', '20190528-00h07m.csv'))

add_positions(df_pred)

In [44]:
df_cashline = pd.read_csv(os.path.join(DATA_DIR, 'Contests', 'cashline_march_2019.csv'))
df_cashline.head(5)

       Date       Type  Fee  Cashline
0  20190301  Double Up   50    335.50
1  20190302  Double Up   25    264.00
2  20190303  Double Up   25    282.25
3  20190304  Double Up   25    276.50
4  20190305  Double Up   25    280.25

In [45]:
date = []
pred = []
actual = []
cashline = []
win = []
earnings = []


for i in tqdm(range(df_cashline.shape[0])):
    df_target = df_pred.loc[(df_pred['Salary']!=0)&(df_pred['Date']==df_cashline.loc[i, 'Date'])].reset_index(drop=True)
    
    optimal_lineups = compounding_evolution()
    
    top_lineups = {'Lineup':[], 'Pred':[], 'Actual':[]}

    for j, indices in enumerate(optimal_lineups):
        top_lineups['Lineup'].append(j)
        top_lineups['Pred'].append(df_target.loc[indices, 'Pred'].sum())
        top_lineups['Actual'].append(df_target.loc[indices, 'FPTS'].sum())


    df_lineups = pd.DataFrame(top_lineups).sort_values(by='Pred', ascending=False).reset_index(drop=True)
    df_lineups = df_lineups.loc[:, ['Lineup', 'Pred', 'Actual']]

    rows = optimal_lineups[df_lineups.loc[0, 'Lineup']]
    df_best = df_target.loc[rows,:]
    display(df_best.loc[:,['Date', 'Name', 'Team', 'Pos', 'FPTS', 'Pred', 'Salary']])
    
    print('Salary:', df_target.loc[rows,'Salary'].sum())
    print('Predicted:', df_target.loc[rows,'Pred'].sum())
    print('Actual:', df_target.loc[rows,'FPTS'].sum())
    print('Cashline:', df_cashline.loc[i, 'Cashline'])
    
    pred.append(df_target.loc[rows,'Pred'].sum())
    actual.append(df_target.loc[rows,'FPTS'].sum())
    cashline.append(df_cashline.loc[i, 'Cashline'])
    
    if df_target.loc[rows, 'FPTS'].sum() >= df_cashline.loc[i, 'Cashline']:
        print('Win:', df_cashline.loc[i, 'Fee'])
        win.append(1)
        earnings.append(df_cashline.loc[i, 'Fee'])
    else:
        print('Lose:', df_cashline.loc[i, 'Fee'])
        win.append(0)
        earnings.append(-df_cashline.loc[i, 'Fee'])

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                     Name Team    Pos   FPTS       Pred   Salary
0    20190301               Trae Young  ATL     PG  87.00  44.212644   8100.0
57   20190301  Shai Gilgeous-Alexander  LAC  PG/SG  27.00  19.339563   3500.0
71   20190301             LeBron James  LAL  SF/PF  58.25  58.342864  11400.0
51   20190301          Marvin Williams  CHO  SF/PF  24.00  25.462783   4400.0
65   20190301              Ivica Zubac  LAC      C  31.00  23.394498   4000.0
3    20190301            Kevin Huerter  ATL  SG/SF  21.00  21.444520   3500.0
101  20190301            Anthony Davis  NOP   PF/C  40.00  39.174211   6800.0
45   20190301             Kemba Walker  CHO     PG  47.50  44.192811   8200.0

Salary: 49900.0
Predicted: 275.56389376442485
Actual: 335.75
Cashline: 335.5
Win: 50

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred   Salary
15   20190302    Jalen Brunson  DAL  PG/SG  12.00  26.142896   3800.0
118  20190302  Dennis Schroder  OKC  PG/SG  29.75  29.920274   5000.0
145  20190302    Tobias Harris  PHI  SF/PF  35.25  39.314941   7700.0
185  20190302   Derrick Favors  UTA   PF/C  54.00  26.499595   4800.0
33   20190302     Nikola Jokic  DEN      C  49.25  53.519790  10200.0
58   20190302      Rajon Rondo  LAL     PG  18.00  31.046113   5300.0
90   20190302     Kelly Olynyk  MIA   PF/C  45.00  30.119090   5100.0
114  20190302    Julius Randle  NOP   PF/C  52.50  40.988069   8000.0

Salary: 49900.0
Predicted: 277.55076833487703
Actual: 295.75
Cashline: 264.0
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred   Salary
108  20190303  Dennis Schroder  OKC  PG/SG  47.50  32.405513   5400.0
46   20190303  Wayne Ellington  DET  SG/SF  22.75  21.220579   3700.0
123  20190303     Aaron Gordon  ORL  SF/PF  31.00  33.906428   6700.0
39   20190303      Larry Nance  CLE   PF/C  27.25  33.963286   5800.0
49   20190303    Blake Griffin  DET   PF/C  37.75  44.910241   8400.0
134  20190303       Jeremy Lin  TOR  PG/SG   6.75  23.690695   4100.0
3    20190303    Kent Bazemore  ATL  SG/SF  23.25  26.408299   4600.0
53   20190303     James Harden  HOU  PG/SG  63.75  64.016959  11200.0

Salary: 49900.0
Predicted: 280.5219986663324
Actual: 260.0
Cashline: 282.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
154  20190304  Donovan Mitchell  UTA  PG/SG  34.50  40.273953  8300.0
9    20190304  D'Angelo Russell  BRK  PG/SG  37.00  42.304091  8000.0
72   20190304   Josh Richardson  MIA  SG/SF  37.75  31.333542  6100.0
80   20190304       Bam Adebayo  MIA   PF/C  20.00  29.482908  5600.0
8    20190304          Alex Len  ATL      C   9.50  31.828873  4000.0
23   20190304     Jalen Brunson  DAL  PG/SG  14.25  21.415489  3800.0
63   20190304        Kyle Kuzma  LAL  SF/PF  21.00  31.784970  6200.0
163  20190304       Rudy Gobert  UTA      C  48.25  41.477472  7900.0

Salary: 49900.0
Predicted: 269.90129734667187
Actual: 222.25
Cashline: 276.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                Name Team    Pos   FPTS       Pred   Salary
105  20190305      Damian Lillard  POR     PG  37.50  41.783210   8100.0
66   20190305      Andrew Wiggins  MIN  SG/SF  34.50  33.054721   5700.0
46   20190305      Thaddeus Young  IND  SF/PF  33.50  31.528383   5900.0
104  20190305        Amir Johnson  PHI   PF/C  28.25  22.797207   3000.0
9    20190305          Al Horford  BOS   PF/C  18.50  39.292284   6300.0
53   20190305       Avery Bradley  MEM  PG/SG  26.75  24.718024   4400.0
45   20190305    Bojan Bogdanovic  IND  SG/SF  41.50  31.048744   5600.0
71   20190305  Karl-Anthony Towns  MIN      C  67.00  57.273628  10600.0

Salary: 49600.0
Predicted: 281.4962007982939
Actual: 287.5
Cashline: 280.25
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred  Salary
69   20190306   Jalen Brunson  DAL  PG/SG  26.75  23.115785  3800.0
60   20190306  Brandon Knight  CLE  PG/SG   5.75  17.027937  3100.0
225  20190306    Trevor Ariza  WAS  SF/PF  35.50  31.937116  5900.0
148  20190306   Julius Randle  NOP   PF/C  35.00  45.717627  8400.0
8    20190306        Alex Len  ATL      C  25.25  30.662389  4500.0
0    20190306      Trae Young  ATL     PG  37.00  51.972080  8800.0
68   20190306     Luka Doncic  DAL  PG/SF  64.75  50.905012  9100.0
179  20190306     Kelly Oubre  PHO  SG/SF  31.00  35.890099  6200.0

Salary: 49800.0
Predicted: 287.22804488448514
Actual: 261.0
Cashline: 286.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date                   Name Team    Pos   FPTS       Pred   Salary
1   20190307            Cory Joseph  IND  PG/SG  15.50  16.179347   3800.0
14  20190307        Khris Middleton  MIL  SG/SF  42.00  31.967890   6300.0
13  20190307  Giannis Antetokounmpo  MIL  SF/PF  52.50  55.875085  11200.0
4   20190307         Thaddeus Young  IND  SF/PF  26.00  31.048116   5700.0
40  20190307           Jusuf Nurkic  POR      C  44.75  33.195743   6700.0
34  20190307         Damian Lillard  POR     PG  76.75  40.620020   8100.0
38  20190307       Maurice Harkless  POR  SF/PF   9.25  24.692657   4200.0
36  20190307        Al-Farouq Aminu  POR  SF/PF  21.25  22.340098   3900.0

Salary: 49900.0
Predicted: 255.91895646143803
Actual: 288.0
Cashline: 298.0
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred  Salary
126  20190308      Elfrid Payton  NOP     PG  32.00  33.382393  5000.0
56   20190308     Reggie Jackson  DET  PG/SG  28.75  28.563451  5100.0
94   20190308   Danilo Gallinari  LAC  SF/PF  45.50  33.001744  6200.0
168  20190308       Amir Johnson  PHI   PF/C   7.50  24.970293  3500.0
110  20190308  Jonas Valanciunas  MEM      C  38.25  35.543678  6500.0
33   20190308        Luka Doncic  DAL  PG/SF  43.50  48.537022  9300.0
198  20190308       Bobby Portis  WAS   PF/C  41.75  31.285432  5900.0
10   20190308       Kemba Walker  CHO     PG  37.00  46.608356  8100.0

Salary: 49600.0
Predicted: 281.892368210981
Actual: 274.25
Cashline: 291.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
0    20190309        Trae Young  ATL     PG  58.50  44.260159  8200.0
62   20190309   Khris Middleton  MIL  SG/SF  21.00  36.954039  6900.0
108  20190309      Trevor Ariza  WAS  SF/PF  41.75  29.115376  5800.0
96   20190309  Maurice Harkless  POR  SF/PF  23.75  23.003616  4200.0
7    20190309          Alex Len  ATL      C  22.00  30.599171  5000.0
33   20190309      Kemba Walker  CHO     PG  36.75  44.615956  8300.0
6    20190309      John Collins  ATL   PF/C  64.25  35.743249  7200.0
54   20190309      JaVale McGee  LAL      C  15.75  26.474565  4300.0

Salary: 49900.0
Predicted: 270.7661319311468
Actual: 283.75
Cashline: 282.25
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
34   20190310       James Harden  HOU  PG/SG  33.25  56.321472  11300.0
10   20190310      Jalen Brunson  DAL  PG/SG  30.75  26.887392   4100.0
143  20190310        J.J. Redick  PHI  SG/SF  17.75  26.754098   5100.0
75   20190310        Bam Adebayo  MIA   PF/C  37.50  29.021721   5300.0
63   20190310  Jonas Valanciunas  MEM      C  36.00  37.726121   6600.0
104  20190310      Elfrid Payton  NOP     PG  51.00  30.473227   5800.0
46   20190310   Bojan Bogdanovic  IND  SG/SF  30.75  30.186865   5900.0
7    20190310           Alex Len  ATL      C  33.25  33.375662   5600.0

Salary: 49700.0
Predicted: 270.74655771842185
Actual: 270.25
Cashline: 301.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
26   20190311      Kemba Walker  CHO     PG  67.50  43.576776  8100.0
50   20190311   Wayne Ellington  DET  SG/SF   9.75  21.468481  3900.0
38   20190311        Cedi Osman  CLE  SF/PF  40.25  24.721981  5000.0
134  20190311      Bobby Portis  WAS   PF/C  42.25  32.485980  5900.0
124  20190311       Rudy Gobert  UTA      C  42.50  41.409676  7800.0
115  20190311  Donovan Mitchell  UTA  PG/SG  49.50  46.035891  8400.0
30   20190311       Jeremy Lamb  CHO  SG/SF  26.50  32.303765  5800.0
48   20190311    Reggie Jackson  DET  PG/SG   7.00  29.059620  5000.0

Salary: 49900.0
Predicted: 271.0621707379066
Actual: 285.25
Cashline: 260.0
Win: 10

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                   Name Team    Pos   FPTS       Pred   Salary
11   20190312         Brandon Knight  CLE  PG/SG  23.25  21.224733   3500.0
54   20190312       Patrick Beverley  LAC  PG/SG  20.25  26.713725   5500.0
78   20190312  Giannis Antetokounmpo  MIL  SF/PF  39.75  58.528269  11500.0
93   20190312            Dario Saric  MIN     PF  19.00  25.002632   4400.0
71   20190312           JaVale McGee  LAL      C  32.75  24.557125   4200.0
122  20190312            Ben Simmons  PHI  PG/SF  53.00  45.778753   8600.0
28   20190312          Dirk Nowitzki  DAL   PF/C  12.75  19.465059   3400.0
20   20190312            Luka Doncic  DAL  PG/SF  30.00  45.733467   8800.0

Salary: 49900.0
Predicted: 267.00376332274993
Actual: 230.75
Cashline: 263.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred   Salary
118  20190313       Dante Exum  UTA  PG/SG   1.50  16.146930   3200.0
21   20190313   Reggie Jackson  DET  PG/SG  12.25  29.446198   4800.0
70   20190313     Dion Waiters  MIA  SG/SF  31.00  25.894053   4800.0
6    20190313     John Collins  ATL   PF/C  51.00  39.687768   7600.0
135  20190313     Bobby Portis  WAS   PF/C  14.50  33.640928   6200.0
66   20190313  Justise Winslow  MIA  PG/SF  30.25  32.134832   6100.0
132  20190313     Trevor Ariza  WAS  SF/PF   5.25  34.034966   5900.0
44   20190313     James Harden  HOU  PG/SG  55.25  58.723662  11200.0

Salary: 49800.0
Predicted: 269.70933621602256
Actual: 201.0
Cashline: 230.75
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
81   20190314  Russell Westbrook  OKC     PG  68.00  58.041729  10900.0
24   20190314      Jalen Brunson  DAL  PG/SG  34.75  28.762152   5300.0
96   20190314       Aaron Gordon  ORL  SF/PF  39.00  34.435043   6500.0
33   20190314      Dirk Nowitzki  DAL   PF/C  11.50  21.336589   3300.0
54   20190314   Domantas Sabonis  IND   PF/C  42.75  30.237792   5400.0
118  20190314         Jeremy Lin  TOR  PG/SG  21.25  20.255402   3800.0
23   20190314        Luka Doncic  DAL  PG/SF  55.75  47.596194   8400.0
51   20190314   Bojan Bogdanovic  IND  SG/SF  35.50  32.614563   6200.0

Salary: 49800.0
Predicted: 273.279464495725
Actual: 308.5
Cashline: 290.75
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred   Salary
117  20190315      Ben Simmons  PHI  PG/SF  30.00  43.343258   8500.0
22   20190315   Reggie Jackson  DET  PG/SG  39.25  26.285820   4300.0
35   20190315      Eric Gordon  HOU  SG/SF  29.50  27.312200   4900.0
182  20190315     Trevor Ariza  WAS  SF/PF  36.50  29.068414   5700.0
187  20190315     Bobby Portis  WAS   PF/C  10.50  35.407631   6100.0
33   20190315     James Harden  HOU  PG/SG  86.75  61.346159  11000.0
77   20190315      Bam Adebayo  MIA   PF/C  35.25  28.467193   5200.0
143  20190315  Al-Farouq Aminu  POR  SF/PF  25.75  23.272842   4100.0

Salary: 49800.0
Predicted: 274.5035169460424
Actual: 293.5
Cashline: 300.0
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred  Salary
141  20190316        Ricky Rubio  UTA     PG  29.50  27.951660  4900.0
140  20190316   Donovan Mitchell  UTA  PG/SG  39.50  45.632527  8300.0
2    20190316       Caris LeVert  BRK  PG/SF  17.25  24.881019  4700.0
31   20190316      Dirk Nowitzki  DAL   PF/C  31.50  19.137337  3200.0
88   20190316      Julius Randle  NOP   PF/C  43.25  48.110068  8100.0
69   20190316        Mike Conley  MEM     PG  52.25  37.687852  7900.0
137  20190316  LaMarcus Aldridge  SAS   PF/C  31.00  44.207294  8400.0
120  20190316    Al-Farouq Aminu  POR  SF/PF  11.25  23.824545  4200.0

Salary: 49700.0
Predicted: 271.43230275211357
Actual: 255.5
Cashline: 306.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                   Name Team    Pos   FPTS       Pred   Salary
79   20190317            Dwyane Wade  MIA  PG/SG  32.50  23.037345   4400.0
24   20190317              Kris Dunn  CHI  PG/SG  17.75  26.923242   5400.0
94   20190317  Giannis Antetokounmpo  MIL  SF/PF  91.00  60.876029  10800.0
51   20190317          Blake Griffin  DET   PF/C  39.00  39.763594   7500.0
7    20190317           John Collins  ATL   PF/C  21.75  40.580287   7500.0
117  20190317          D.J. Augustin  ORL     PG  31.50  27.689458   5100.0
10   20190317           Caris LeVert  BRK  PG/SF  26.50  26.237864   4800.0
4    20190317          Kevin Huerter  ATL  SG/SF   8.25  24.113214   4300.0

Salary: 49800.0
Predicted: 269.22103372273165
Actual: 268.25
Cashline: 274.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                Name Team    Pos   FPTS       Pred  Salary
184  20190318    Donovan Mitchell  UTA  PG/SG  27.25  44.275845  8200.0
162  20190318       DeMar DeRozan  SAS  SG/SF  49.75  38.009258  7800.0
4    20190318        Jayson Tatum  BOS  SF/PF  29.75  31.784286  6100.0
150  20190318     Al-Farouq Aminu  POR  SF/PF  22.75  24.485855  4300.0
154  20190318        Jusuf Nurkic  POR      C  34.25  39.230684  7100.0
14   20190318  Shaquille Harrison  CHI  PG/SF  18.75  20.652307  3200.0
94   20190318       Derrick Jones  MIA  SF/PF  13.25  19.501010  3400.0
128  20190318         Paul George  OKC  SF/PF  57.25  48.150528  9700.0

Salary: 49800.0
Predicted: 266.0897735186536
Actual: 253.0
Cashline: 311.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred   Salary
44   20190319    James Harden  HOU  PG/SG  61.50  59.047692  11200.0
56   20190319     Cory Joseph  IND  PG/SG  18.00  20.151663   3300.0
127  20190319     Buddy Hield  SAC  SG/SF  24.00  36.121165   6900.0
6    20190319    John Collins  ATL   PF/C  37.00  38.657111   7500.0
75   20190319     Ivica Zubac  LAC      C  22.25  27.869311   5000.0
0    20190319      Trae Young  ATL     PG  45.00  44.221435   7200.0
103  20190319  Andrew Wiggins  MIN  SG/SF  40.50  28.461394   5400.0
81   20190319  Reggie Bullock  LAL  SG/SF  18.50  21.137771   3400.0

Salary: 49900.0
Predicted: 275.6675421531454
Actual: 266.75
Cashline: 311.75
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
16   20190320  Antonio Blakeney  CHI  PG/SG   8.00  21.301806  3100.0
23   20190320    Brandon Knight  CLE  PG/SG  22.00  19.916191  3600.0
115  20190320       Paul George  OKC  SF/PF  36.25  53.601281  9800.0
18   20190320   Lauri Markkanen  CHI   PF/C  61.25  37.412090  7100.0
98   20190320     Jahlil Okafor  NOP      C  29.00  20.537611  3200.0
200  20190320      Bradley Beal  WAS     SG  54.25  46.682774  9400.0
34   20190320       Luka Doncic  DAL  PG/SF  38.75  48.527304  8900.0
56   20190320      Delon Wright  MEM  PG/SG  21.25  26.421061  4800.0

Salary: 49900.0
Predicted: 274.4001180598193
Actual: 270.75
Cashline: nan
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                Name Team    Pos   FPTS       Pred   Salary
113  20190321         Ricky Rubio  UTA     PG  37.75  27.073232   5200.0
21   20190321         Luka Doncic  DAL  PG/SG  32.00  48.231385   8900.0
73   20190321    Bojan Bogdanovic  IND  SG/SF  14.00  31.373604   5900.0
95   20190321        Josh Jackson  PHO  SF/PF   7.00  27.589050   4800.0
54   20190321       Blake Griffin  DET   PF/C  41.75  45.498093   7800.0
17   20190321        Dwayne Bacon  CHO  SG/SF  19.75  16.678561   3200.0
131  20190321       Thomas Bryant  WAS   PF/C  36.00  23.553504   3800.0
86   20190321  Karl-Anthony Towns  MIN      C  56.50  55.558526  10000.0

Salary: 49600.0
Predicted: 275.5559561262472
Actual: 244.75
Cashline: 284.0
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred   Salary
37   20190322     James Harden  HOU  PG/SG  80.25  56.115412  11400.0
158  20190322    Fred VanVleet  TOR  PG/SG  20.00  29.967650   5300.0
101  20190322  Khris Middleton  MIL  SG/SF  47.00  36.333589   7500.0
78   20190322    Bruno Caboclo  MEM  SF/PF  15.75  19.203274   3600.0
106  20190322      Brook Lopez  MIL      C  29.00  30.236370   5900.0
115  20190322   Damyean Dotson  NYK  SG/SF  14.75  28.774147   5500.0
15   20190322       Cedi Osman  CLE  SF/PF  18.00  29.255603   5700.0
59   20190322      Ivica Zubac  LAC      C  25.00  27.633763   4900.0

Salary: 49800.0
Predicted: 257.5198089760695
Actual: 249.75
Cashline: 335.0
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                Name Team    Pos   FPTS       Pred   Salary
0    20190323          Trae Young  ATL     PG  58.50  45.691256   7900.0
11   20190323    Antonio Blakeney  CHI  PG/SG  15.00  19.589699   3200.0
2    20190323       Kevin Huerter  ATL  SG/SF  22.75  22.486916   4100.0
115  20190323     Al-Farouq Aminu  POR  SF/PF  34.75  22.202615   4000.0
87   20190323  Karl-Anthony Towns  MIN      C  71.25  55.909566  10500.0
9    20190323  Shaquille Harrison  CHI  PG/SF  25.75  21.180423   4100.0
15   20190323     Lauri Markkanen  CHI   PF/C  34.00  40.743143   6900.0
18   20190323         Luka Doncic  DAL  PG/SG  62.75  47.247929   8600.0

Salary: 49300.0
Predicted: 275.051546713978
Actual: 324.75
Cashline: 276.0
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
93   20190324       Rajon Rondo  LAL     PG  23.75  34.140679  6200.0
84   20190324  Bojan Bogdanovic  IND  SG/SF  51.50  31.562770  5500.0
6    20190324     Marcus Morris  BOS  SF/PF  25.00  27.422235  5300.0
67   20190324    Draymond Green  GSW   PF/C  31.25  30.086588  6000.0
54   20190324     Blake Griffin  DET   PF/C  44.50  43.197134  7900.0
58   20190324     Stephen Curry  GSW  PG/SG  44.25  49.057164  9000.0
16   20190324     Miles Bridges  CHO  SF/PF  29.00  25.651672  3800.0
113  20190324       Brook Lopez  MIL      C  28.50  30.498681  6100.0

Salary: 49800.0
Predicted: 271.61692399567096
Actual: 277.75
Cashline: 244.75
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date               Name Team    Pos   FPTS       Pred  Salary
79  20190325        Ricky Rubio  UTA     PG  29.25  28.906589  5400.0
80  20190325   Donovan Mitchell  UTA  PG/SG  23.00  43.653409  8200.0
48  20190325       Jimmy Butler  PHI  SG/SF  34.00  38.090315  7400.0
41  20190325     Jonathan Isaac  ORL  SF/PF  17.50  27.860897  5100.0
20  20190325  Jonas Valanciunas  MEM      C  42.00  35.460391  7100.0
38  20190325      Evan Fournier  ORL  SG/SF  39.00  27.284479  5100.0
72  20190325    Al-Farouq Aminu  POR  SF/PF  18.75  22.264855  4300.0
75  20190325       Jusuf Nurkic  POR      C  72.50  39.615745  6900.0

Salary: 49500.0
Predicted: 263.13668029443625
Actual: 276.0
Cashline: 314.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred  Salary
44   20190326  Brandon Knight  CLE  PG/SG   5.00  21.985748  3600.0
26   20190326    Wayne Selden  CHI  SG/SF  30.50  23.060377  3700.0
212  20190326   Kawhi Leonard  TOR  SF/PF  38.50  48.969055  9100.0
136  20190326    Kelly Olynyk  MIA   PF/C   8.25  28.295588  5500.0
87   20190326   Blake Griffin  DET   PF/C  58.75  45.682041  7800.0
42   20190326   Collin Sexton  CLE     PG  32.00  30.620994  5900.0
134  20190326     Bam Adebayo  MIA   PF/C  30.75  29.624992  5800.0
55   20190326     Luka Doncic  DAL  PG/SG  63.50  50.592621  8500.0

Salary: 49900.0
Predicted: 278.831416123092
Actual: 267.25
Cashline: 265.5
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date               Name Team    Pos   FPTS       Pred   Salary
8   20190327      Stephen Curry  GSW  PG/SG  59.00  45.779516   8900.0
3   20190327    Brandon Sampson  CHI  PG/SG   4.75  23.228282   3000.0
69  20190327      Mikal Bridges  PHO  SG/SF  20.00  25.483464   4800.0
55  20190327       Jerami Grant  OKC     PF  43.75  25.678925   5300.0
96  20190327        Rudy Gobert  UTA      C  47.25  41.896309   8200.0
43  20190327       Tyler Dorsey  MEM  PG/SG  19.00  26.856353   4500.0
77  20190327    Al-Farouq Aminu  POR  SF/PF  30.75  25.547715   4600.0
51  20190327  Russell Westbrook  OKC     PG  59.25  61.910366  10500.0

Salary: 49800.0
Predicted: 276.3809291421335
Actual: 283.75
Cashline: 295.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred   Salary
120  20190328   Emmanuel Mudiay  NYK     PG  16.50  37.224998   5700.0
26   20190328       Luka Doncic  DAL  PG/SG  38.00  49.174669   8400.0
123  20190328    Damyean Dotson  NYK  SG/SF  15.25  30.589696   5500.0
112  20190328  Kenrich Williams  NOP  SF/PF  20.25  25.142846   4500.0
115  20190328     Julius Randle  NOP   PF/C  53.75  44.323979   8200.0
15   20190328    Brandon Knight  CLE  PG/SG  19.75  20.690890   3500.0
55   20190328   Wayne Ellington  DET  SG/SF  34.50  20.799923   3700.0
149  20190328       Joel Embiid  PHI      C  74.25  59.683262  10400.0

Salary: 49900.0
Predicted: 287.6302624245547
Actual: 272.25
Cashline: 308.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
94   20190329  Russell Westbrook  OKC     PG  54.75  60.724884  10700.0
62   20190329   Bojan Bogdanovic  IND  SG/SF  35.75  30.219876   5800.0
113  20190329        Evan Turner  POR  SG/SF  12.75  22.847516   3300.0
111  20190329   Maurice Harkless  POR  SF/PF  23.25  21.013200   4300.0
8    20190329           Alex Len  ATL      C   0.00  21.095578   4100.0
119  20190329   Donovan Mitchell  UTA  PG/SG  49.75  44.142883   8000.0
110  20190329    Al-Farouq Aminu  POR  SF/PF  37.75  25.055465   4700.0
47   20190329      Stephen Curry  GSW  PG/SG  56.75  51.169484   8900.0

Salary: 49800.0
Predicted: 276.26888671860274
Actual: 270.75
Cashline: 247.5
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
194  20190330         Kyle Lowry  TOR     PG  37.75  32.884318   6800.0
13   20190330   D'Angelo Russell  BRK  PG/SG  53.25  45.258991   8200.0
177  20190330        Evan Turner  POR  SG/SF   8.00  21.402691   3300.0
189  20190330      Marvin Bagley  SAC   PF/C  37.50  38.061072   7100.0
134  20190330  Mitchell Robinson  NYK      C  40.00  30.728935   4900.0
126  20190330    Emmanuel Mudiay  NYK     PG  35.25  34.865762   5500.0
82   20190330     JaMychal Green  LAC  SF/PF  37.00  26.456967   3800.0
170  20190330     Damian Lillard  POR     PG  41.50  46.600031  10100.0

Salary: 49700.0
Predicted: 276.2587666619512
Actual: 290.25
Cashline: 293.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                     Name Team    Pos   FPTS       Pred   Salary
116  20190331            Derrick White  SAS  PG/SG  14.75  26.812919   4900.0
71   20190331             Delon Wright  MEM  PG/SG  44.00  27.688735   5500.0
56   20190331            Landry Shamet  LAC  SG/SF  13.75  18.806117   3900.0
95   20190331              Paul George  OKC  SF/PF  52.25  51.186916   9600.0
45   20190331           Draymond Green  GSW   PF/C  31.25  33.856728   5900.0
91   20190331        Russell Westbrook  OKC     PG  63.75  62.368886  10700.0
69   20190331            Moritz Wagner  LAL   PF/C  20.25  17.813266   3300.0
49   20190331  Shai Gilgeous-Alexander  LAC  PG/SG  26.50  32.606067   6000.0

Salary: 49800.0
Predicted: 271.13963329055423
Actual: 266.5
Cashline: 240.5
Win: 25

In [48]:
print(sum(win)/len(win))
print(sum(earnings))

0.3548387096774194
-215

In [ ]:
date = list(set(df_cashline['Date'].values))
df_result = pd.DataFrame({'Date': date,
                          'Predicted':pred,
                          'Actual': actual,
                          'Cashline': cashline,
                          'Win':win,
                          'Earnings': earnings
                         })

df_result.loc[:,['Date', 'Predicted', 'Actual', 'Cashline', 'Win', 'Earnings']]

### Baseline - random 10,000

In [ ]:
df_result.loc[:,['Date', 'Predicted', 'Actual', 'Cashline', 'Win', 'Earnings']]

In [ ]:
df_random_lineups = create_random_lineups(df_target, 200)
df_random_lineups['Fitness'] = calculate_fitness(df_random_lineups)
df_random_lineups.sort_values(by='Fitness', ascending=False).head(10)

### Visualisation

In [ ]:
df_baseline = csv_concatenate(os.path.join(data_dir, data_dir, 'Dataframes', 'modelling', 'baseline'))
df_baseline['Baseline'] = calculate_FPTS(df_baseline)

In [ ]:
#target_date = 20180310
target_date = 20180326

In [ ]:
df_target = df_pred.loc[(df_pred['Salary']!=0)&(df_pred['Date']==target_date)].reset_index(drop=True)
    
optimal_lineups = compounding_evolution(population_size=200, num_mutations=50,
                                        num_generations=100, num_compounding=5)

top_lineups = {'Lineup':[], 'Pred':[], 'Actual':[]}

for j, indices in enumerate(optimal_lineups):
    top_lineups['Lineup'].append(j)
    top_lineups['Pred'].append(df_target.loc[indices, 'Pred'].sum())
    top_lineups['Actual'].append(df_target.loc[indices, 'FPTS'].sum())


df_lineups = pd.DataFrame(top_lineups).sort_values(by='Pred', ascending=False).reset_index(drop=True)
df_lineups = df_lineups.loc[:, ['Lineup', 'Pred', 'Actual']]

rows = optimal_lineups[df_lineups.loc[0, 'Lineup']]
df_best = df_target.loc[rows,:]
display(df_best.loc[:,['Date', 'Name', 'Team', 'Pos', 'FPTS', 'Pred', 'Salary']])
print('Salary:', df_target.loc[rows,'Salary'].sum())
print('Predicted:', df_target.loc[rows,'Pred'].sum())
print('Actual:', df_target.loc[rows,'FPTS'].sum())
print('Cashline:', int(df_cashline.loc[df_cashline['Date']==target_date, 'Cashline'].values))

In [ ]:
print(calculate_MAE(df_best['FPTS'].values, df_best['Pred'].values))
print(calculate_RMSE(df_best['FPTS'], df_best['Pred']))

In [ ]:
df_best

In [ ]:
Baseline = []

for i in range(df_best.shape[0]):
    df_best = df_best.reset_index(drop=True)
    Baseline.append(df_baseline.loc[(df_baseline['Name']==df_best.loc[i, 'Name'])&(df_baseline['Date']==df_best.loc[i,'Date']), 'Baseline'])

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

names = [name.split(' ')[0][:1] + '. '+ name.split(' ')[1] for name in df_best['Name']]
positions = ['(PG)', '(SG)', '(SF)','(PF)','(C)','(G)','(F)','(Utility)']

names = [names[i]+'\n'+positions[i] for i in range(8)]

trace1 = go.Bar(
    x=names,
    y=df_best['FPTS'],
    name='Actual FPTS'
)

trace2 = go.Bar(
    x=names,
    y=df_best['Pred'],
    name='Prediction'
)

trace3 = go.Bar(
    x=names,
    y=Baseline,
    name='Baseline'
)


data = [trace1, trace2, trace3]
layout = go.Layout(
    
)

layout = go.Layout(
        title = 'FPTS: Actual and Predicted',
        barmode='group',
        legend = {"x":0.85, 'y':0.95, 'borderwidth': 1},
        yaxis = {"title":"FPTS"},
    )

config={'showLink': False}

fig = go.Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='prediction0326')
py.iplot(fig, filename='prediction0326')